<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{Title}}</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
  <article>
    <header>
      <h1>{{Title}}</h1>
      <time>{{Date}}</time>
    </header>

    {{{Body}}}

  </article>
</body>
</html>
