body {
  font-family: sans-serif;
  color: #666;
  margin: 2em;
}

h1:hover {
  color: #555;
}

a {
  color: #66a;
  text-decoration: none;
}

a:hover {
  color: #88c;
}

time {
  font-size: 0.72em;
  display: block;
  text-align: right;
  font-style: oblique;
}
